<ul class="nav nav-tabs" role="tablist">
  <li class="active" role="presentation">
    <a href="#pointing" aria-controls="pointing" role="tab" data-toggle="tab">Pointing</a>
  </li>
  <li role="presentation">
    <a href="#guiding" aria-controls="guiding" role="tab" data-toggle="tab">Guiding</a>
  </li>
  <li role="presentation">
    <a href="#imaging" aria-controls="imaging" role="tab" data-toggle="tab">Imaging</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="pointing" role="tabpanel">
    <pointing-component></pointing-component>
  </div>
  <div class="tab-pane" id="guiding" role='tabpanel'>
    <h2>Guiding</h2>
  </div>
  <div class="tab-pane" id="imaging" role='tabpanel'>
    <imaging-component></imaging-component>
  </div>
</div>
