<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="material-icons">nights_stay</span>
    <span>Estelle</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/pointing">
        <span class="material-icons">moving</span>
        <a matLine>Pointing</a>
      </mat-list-item>
      <mat-list-item>
        <span class="material-icons">my_location</span>
        <a matLine>Guiding</a>
      </mat-list-item>
      <mat-list-item routerLink="/imaging">
        <span class="material-icons">photo_camera</span>
        <a matLine>Imaging</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<ul class="nav nav-tabs" role="tablist">
  
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="pointing" role="tabpanel">
    
    
  </div>
  <div class="tab-pane" id="guiding" role='tabpanel'>
    <h2>Guiding</h2>
  </div>
  <div class="tab-pane" id="imaging" role='tabpanel'>
    <imaging-component></imaging-component>
  </div>
</div>
-->