:host {
  display: block;
  margin: 20px;
}

.right-sidenav-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  
}

.right-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
}